name: mysql-dev
services:
  mysql:
    container_name: mysql
    image: mysql:9
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - ./mysql-data/mysql/data/:/var/lib/mysql/